div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.main-box {
  height: 800px;
  width: 700px;
  margin: 90px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pfp-slot {
  width: 120px;
  height: 120px;
  border: #f9f9f9 2px solid;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
  top: -170px; 
}

.banner-slot {
  width: 700px;
  height: 150px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  position: relative;
  top: -20px;
  left: -20px;
}

.title-slot {
  text-align: center;
  margin: -270px 0 0 0;
   

}

.about-me {
  margin-top: 30px;
}

.about-me h2 {
  font-size: 20px;
  margin-bottom: 2px;
}

.about-me h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.about-me p {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #333;
}
.about-me ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #333;
}

.linkedIn-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}