.linkedIn-btn {
  background-color: #00a6ff;
  width: 130px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace, Tahoma, Geneva, Verdana, sans-serif, sans-serif;
 
}

.linkedIn-btn:hover {
  background-color: #0073b1;
  cursor: pointer;
}
